.imgcima {height: 90%; width: 100%;}
.imglogo {width: 7%; border-radius: 50%; }
.carac {width: 45%; border-radius: 50%; margin-left: 25%;}
#titulos {color: black;}
.footer {background-color: black; height: 500%; width: 1910px; color: white; text-align: center;}
