.imgcima {height: 100%; width: 100%;}
.imglogo {width: 10%; border-radius: 50%; }
.carac {width: 45%; border-radius: 50%; margin-left: 25%;}
#titulos {color: black;}
.footer {background-color: black; height: 500%; width: 1910px; color: white; text-align: center;}
.contato {margin-right: 600px;}
.home {margin-right: 50px;}