.inovaçao {width: 90%; height: 30%;}
.cartao {width: 50% ;height: 50%; }
.mapa {width: 110%; height: 90%}
.vaso {width: 90%;}
.footer {background-color: black; height: 500%; width: 1910px; color: white; text-align: center;}